.scrollbar{
	height: 100%;
	position: relative;
}
	.scrollbar__container{
		height:100%;
		/* width: 100%; */
		overflow: hidden;
	
		/* margin-right: 6px; */
}
	.scrollbar__track{
		position:absolute;
		right:0;
		top:0;
		height:100%;
	
		z-index: 999;
		overflow: hidden;
}

.scrollbar__track_scroll_no{
	display:none;
}

	.scrollbar__handle{
		width: 100%;
		min-height: 10px;
		position: absolute;
		top: 0;
		border:1px solid transparent;
	
		box-sizing: border-box;
}

/* scrollbar width */
	.scrollbar{
		padding-right: 6px;
	}
	.scrollbar__track{
		width: 6px;
	}

/* scrollbar style */
	.scrollbar__handle{
		background-color: transparent;
		
		/*-webkit-transition-property: background-color, top;
		   -moz-transition-property: background-color, top;
		    -ms-transition-property: background-color, top;
		     -o-transition-property: background-color, top;
		        transition-property: background-color, top;
		
		-webkit-transition-duration: 0.5s, 0.1s;
		   -moz-transition-duration: 0.5s, 0.1s;
		    -ms-transition-duration: 0.5s, 0.1s;
		     -o-transition-duration: 0.5s, 0.1s;
		        transition-duration: 0.5s, 0.1s;*/
	}
	.scrollbar__track_state_hover{
		background-color: rgba(243, 243, 243, 1);
	}
	.scrollbar__track_state_hover .scrollbar__handle{
		background-color: rgba(0,0,0,0.1);
	}
	.scrollbar__track_state_hover .scrollbar__handle:hover,
	.scrollbar__track_state_move .scrollbar__handle{
		background-color: rgba(0, 0, 0, 0.25);
	}

/* MOBILE */
.scrollbar__container_mode_mobile{
	overflow-y: auto;
 	-webkit-overflow-scrolling: touch;
}